/! Required meta tags
meta charset="UTF-8"
meta content="width=device-width, initial-scale=1.0" name="viewport"
meta content="ie=edge" http-equiv="X-UA-Compatible"
meta content="web design, web development, logo design, software design, mobile app design, app design, app development, software design, software development"
meta content="Webster.ai is a web, mobile, and software design and development agency" name="keyword"
title Webster
/! Favicon
link href="/favicon.ico" rel=("shortcut icon")
/! flaticon CSS
link href="/css/flaticon.css" rel="stylesheet"
/! Chart CSS
link href="/css/Chart.min.css" rel="stylesheet"
/! Magnific Popup
link href="/css/magnific-popup.css" rel="stylesheet"
/! owl-carousel
link href="/css/owl.carousel.min.css" rel="stylesheet"
/! wow
link href="/css/wow.css" rel="stylesheet"
/! Slick
link href="/css/slick-theme.css" rel="stylesheet"
link href="/css/slick.css" rel="stylesheet"
/! REVOLUTION STYLE SHEETS
link href="/revslider/css/rs6.css" rel="stylesheet" type="text/css"
/! Xamin custom
link href="/css/xamin-style.css" rel="stylesheet"
/! Responsive
link href="/css/responsive.css" rel="stylesheet"
/ Font awesome kit
script crossorigin="anonymous" src="https://kit.fontawesome.com/b8739d721b.js" 

/ Body font
link href="https://fonts.gstatic.com" rel="preconnect"
link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"


/ IBM body font
link href="https://fonts.gstatic.com" rel="preconnect"
link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap" rel="stylesheet"

= csrf_meta_tags
= csp_meta_tag
= stylesheet_pack_tag "application"
= javascript_pack_tag "application"

/! Global site tag (gtag.js) - Google Analytics
script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122493076-4" 
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122493076-4');
