/! jQuery, Popper JS
script src="/js/jquery-3.4.1.min.js" 
script src="/js/popper.min.js" 
/! Bootstrap JS
script src="/js/bootstrap.min.js" 
/! Appear JS
script src="/js/appear.js" 
/! Countdown JS
script src="/js/countdown.js" 
/! CountTo JS
script src="/js/jquery.countTo.js" 
/! Magnific Popup JS
script src="/js/magnific-popup/jquery.magnific-popup.min.js" 
/! Owl Carousel JS
script src="/js/owl.carousel.min.js" 
/! Chart JS
script src="/js/Chart.min.js" 
script src="/js/Chart.bundle.min.js" 
/! Slick JS
script src="/js/slick.min.js" 
/! Wow JS
script src="/js/wow.min.js" 
/! Isotope JS
script src="/js/isotope.pkgd.min.js" 
/! REVOLUTION SLIDER JS
script src="/revslider/js/revolution.tools.min.js" 
script src="/revslider/js/rs6.min.js" 
script src="/js/revslider-custom.js" 
/! Custom JS
script src="/js/xamin-custom.js" 